<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <base href="/"/>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="icon" type="image/png" href="favicon.png"/>
        <HeadOutlet/>
        <title>Service Web</title>
    </head>

    <body>
        <Routes @rendermode="new InteractiveServerRenderMode(prerender: false)"/>
        <script src="_framework/blazor.web.js"></script>
        <script src="https://js.stripe.com/v3/"></script>
        <script src="js/stripeintegration.js"></script>
    </body>

</html>
