@page "/ThankYou"

<div class="flex items-center justify-center h-screen bg-gray-100">
    <div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-md flex items-center space-x-4">
        <div>
            <div class="text-xl font-medium text-black">Thank You!</div>
            <p class="text-gray-500">Your purchase at Izzibooks has been completed successfully. Enjoy your reading journey!</p>
        </div>
    </div>
</div>