@page "/"

<div class="bg-gray-100 h-screen">
    <nav class="bg-white shadow-lg">
        <div class="max-w-6xl mx-auto px-4">
            <div class="flex justify-between">
                <div class="flex space-x-7">
                    <div>
                        <!-- Logo du site web -->
                        <a href="/" class="flex items-center py-4 px-2">
                            <span class="font-semibold text-gray-500 text-lg">Service Web</span>
                        </a>
                    </div>
                    
                    <!-- Les éléments de navigation -->
                    <div class="hidden md:flex items-center space-x-1">
                        <a href="http://localhost:5223/signup" class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300">Signup</a>
                        <a href="http://localhost:5223/login" class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300">Login</a>
                    </div>
                </div>
                
                <!-- Menu pour téléphone (onclick fonctionne pas :/) -->
                <div class="md:hidden flex items-center">
                    <button @onclick="ToggleDropdown" class="outline-none mobile-menu-button">
                        <svg class="w-6 h-6 text-gray-500 hover:text-green-500" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                            <path d="M4 6h16M4 12h16M4 18h16"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        
        <!-- Menu pour téléphone -->
        <div class="@GetDropdownClass()">
            <ul>
                <li><a href="http://localhost:5223/signup" class="block text-sm px-2 py-4 text-white bg-green-500 font-semibold">Signup</a></li>
                <li><a href="http://localhost:5223/login" class="block text-sm px-2 py-4 hover:bg-green-500 transition duration-300">Login</a></li>
            </ul>
        </div>
    </nav>
    
    <!-- Contenu de la page web -->
    <div class="px-4">
        <h1 class="text-5xl font-bold mt-10 text-center text-gray-700">Welcome</h1>
    </div>
</div>


@code {
    private bool _isDropdownVisible;

    private void ToggleDropdown()
    {
        Console.WriteLine("Dropdown visibility toggled: " + _isDropdownVisible);
        _isDropdownVisible = !_isDropdownVisible;
    }
    
    private string GetDropdownClass()
    {
        return _isDropdownVisible ? "block" : "hidden";
    }
}